@model IEnumerable<RealtyManager.Models.Realty>

<h2>Find your dream</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("Address","Index", new { sortOrder=ViewBag.AddressSortParm})
        </th>
        <th>
            @Html.ActionLink("Size","Index", new { sortOrder=ViewBag.SizeSortParm})
        </th>
        <th>
            @Html.ActionLink("Type","Index", new { sortOrder=ViewBag.TypeSortParm})
        </th>
        <th>
            @Html.ActionLink("Room","Index", new { sortOrder=ViewBag.RoomSortParm})
        </th>
        <th>
            @Html.ActionLink("Price","Index", new { sortOrder=ViewBag.PriceSortParm})
        </th>
        <th>Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a href="@Url.Action("Details",new { id=item.RealtyId })" class="btn btn-primary btn-small"><i class="icon-eye-open icon-white"></i> Details</a>
        </td>
    </tr>
}

</table>
