@model PagedList.IPagedList<RealtyManager.Models.Realty>
@using PagedList;
@using PagedList.Mvc;
<h2>Find your dream</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("search", ViewBag.CurrentFilter as string)  
        <input type="submit" value="Search" /></p>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
<table class="table table-striped" id="RealtyBrowser">
    <tr>
        <th>
        </th>
        <th>
            @Html.ActionLink("Price","Index", new { sortOrder=ViewBag.PriceSortParm,  currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Size","Index", new { sortOrder=ViewBag.SizeSortParm,  currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Type","Index", new { sortOrder=ViewBag.TypeSortParm,  currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Room","Index", new { sortOrder=ViewBag.RoomSortParm,  currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            Address
        </th>
    </tr>

@foreach (var item in Model) {
     <tr>
        <td>
            @if (item.Images.FirstOrDefault() != null)
            {
                 <a href="@Url.Action("Details",new { id=item.RealtyId })">
                     <img src="@UrlHelper.GenerateContentUrl("/Realty/PhotoThumbnail/" + item.Images.First().Id + ".ashx?width=80&height=60", ViewContext.HttpContext)" alt="" title="" />
                 </a>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

     
    