@model IEnumerable<RealtyManager.Models.Realty>

<h2>List of your realties</h2>

<p>
    @Html.ActionLink("Add new realty", "Create", null, new {@class = "btn btn-primary"})
</p>
<table class="table table-striped" id="RealtyManager">
    <tr>
        <th>
        </th>
        <th>
            @Html.ActionLink("Price","My", new { sortOrder=ViewBag.PriceSortParm})
        </th>
        <th>
            @Html.ActionLink("Size","My", new { sortOrder=ViewBag.SizeSortParm})
        </th>
        <th>
            @Html.ActionLink("Type","My", new { sortOrder=ViewBag.TypeSortParm})
        </th>
        <th>
            @Html.ActionLink("Room","My", new { sortOrder=ViewBag.RoomSortParm})
        </th>
        <th>
            Address
        </th>
        <th>Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@UrlHelper.GenerateContentUrl("/Realty/PhotoThumbnail/" + item.Images.First().Id + ".ashx", ViewContext.HttpContext)" alt="" title="" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <a href="@Url.Action("Details",new { id=item.RealtyId })" class="btn btn-primary btn-small"><i class="icon-eye-open icon-white"></i> Details</a>
            <a href="@Url.Action("Edit",new { id=item.RealtyId })" class="btn btn-small"><i class="icon-pencil"></i> Edit</a>
            <a href="@Url.Action("Delete",new { id=item.RealtyId })" class="btn btn-danger btn-small"><i class="icon-trash icon-white"></i> Delete</a>
        </td>
    </tr>
}

</table>