@model Realty.Models.Realty

@{
    ViewBag.Title = "Details";
}

    <h1>@Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.Room) rooms, @Html.DisplayFor(model => model.Price) Ft</h1>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>@Html.DisplayNameFor(model => model.Size)</dt>
        <dd>@Html.DisplayFor(model => model.Size)</dd>

        <dt>@Html.DisplayNameFor(model => model.Type)</dt>
        <dd>@Html.DisplayFor(model => model.Type)</dd>

        <dt>@Html.DisplayNameFor(model => model.Room)</dt>
        <dd>@Html.DisplayFor(model => model.Room)</dd>

        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>    

        <dt>@Html.DisplayNameFor(model => model.VideoLink)</dt>
        <dd>@Html.DisplayFor(model => model.VideoLink)</dd>    
    </dl>

    <button class="btn videoLinkOpen" data-test="test" data-video="@Microsoft.Web.Helpers.Video.Flash(path: Model.VideoLink,
                 width: "570",
                 height: "340",
                 play: true,
                 loop: true,
                 menu:  false,
                 bgColor: "white",
                 quality: "medium",
                 scale: "exactfit",
                 windowMode: "window").ToHtmlString().Replace("\"", "\\\"")">Check out the video</button>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RealtyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<section>
<dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Owner.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.Owner.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Owner.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Owner.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.Owner.Phone)</dt>
        <dd>@Html.DisplayFor(model => model.Owner.Phone)</dd>
    </dl>
</section>

