@model IEnumerable<RealtyManager.Models.Realty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("Address","Index", new { sortOrder=ViewBag.AddressSortParm})
        </th>
        <th>
            @Html.ActionLink("Size","Index", new { sortOrder=ViewBag.SizeSortParm})
        </th>
        <th>
            @Html.ActionLink("Type","Index", new { sortOrder=ViewBag.TypeSortParm})
        </th>
        <th>
            @Html.ActionLink("Room","Index", new { sortOrder=ViewBag.RoomSortParm})
        </th>
        <th>
            @Html.ActionLink("Price","Index", new { sortOrder=ViewBag.PriceSortParm})
        </th>
        <th>Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RealtyId }, new {@class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.RealtyId }, new {@class = "btn"})
            @Html.ActionLink("Delete", "Delete", new { id=item.RealtyId }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
